html {
    font-size: 16px;
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

*, *::before, *::after { 
    box-sizing: inherit;
}

body {
    min-width: 400px;
    background-color: black;
    color: white;   
}

.navbar-brand {
    font-family: 'Bricolage Grotesque', sans-serif;
    color:white; 
}

.nav-link {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: white;
}

.Main {
    display: flex;
    justify-content: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    
}

.results-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.giphy-image {
    margin: 20px;
}

@media screen and (max-width: 576px) {
    .gif-search-form {
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}